<launch>
	<arg name="phase" />

	<node pkg="tf" type="static_transform_publisher" name="map_broadcaster" args="0 0 0 0 0 0 1 world map 100" />

    <!-- Launch imu -->
    <node pkg="imu" type="imu" name="imu" />

	<!-- launch ir distance converter -->
	<node pkg="ir_converter" type="ir_converter" name="ir_converter" />

	<!-- launch pose generator -->
	<node pkg="odometry" type="pose_generator" name="pose_generator" />

	<!-- launch mapping -->
	<node pkg="mapping" type="mapping" name="mapping" args="$(arg phase)"/>

	<!-- launch graph -->
	<node pkg="navigation" type="graph" name="graph" args="$(arg phase)"/> 

	<!-- launch brain -->
        <node pkg="brain" type="brain.py" name="brain" args="$(arg phase)" output="screen"/>

</launch>
