<launch>

	<!-- launch ir distance converter -->
	<node pkg="ir_converter" type="ir_converter" name="ir_converter" />

	<!-- launch pose generator -->
	<node pkg="odometry" type="pose_generator" name="pose_generator" />

	<!-- launch brain -->
	<node pkg="brain" type="brain.py" name="brain" output="screen"/>

</launch>
